<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context = "http://www.springframework.org/schema/context"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>


    <bean id = "ActionBean"
          class="vartanian.summer.spring.Action">
    </bean>

    <bean id = "AdventureBean"
          class="vartanian.summer.spring.Adventure">
    </bean>

    <bean id = "ComedyBean"
          class="vartanian.summer.spring.Comedy">
    </bean>

    <bean id = "DramaBean"
          class="vartanian.summer.spring.Drama">
    </bean>


    <bean id = "Action"
          class="vartanian.summer.spring.Films"
          scope="prototype">
        <property name = "film" ref = "ActionBean"/>
        <property name = "rating" value = "10"/>
        <property name = "description" value = "Here is a description."/>
        <property name = "minutes" value = "140"/>
    </bean>

    <bean id = "Adventure"
          class="vartanian.summer.spring.Films">
        <constructor-arg ref = "AdventureBean"/>
    </bean>

    <bean id = "Comedy"
          class="vartanian.summer.spring.Films">
        <property name = "film" ref = "ComedyBean"/>
        <property name = "rating" value = "8"/>
        <property name = "description" value = "Here is a description."/>
        <property name = "minutes" value = "124"/>
    </bean>

    <bean id = "Drama"
          class="vartanian.summer.spring.Films">
        <constructor-arg ref = "DramaBean"/>
    </bean>
</beans>